<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <title>CLASH CODING PAGE</title>
    <meta charset="utf-8">

  

 	
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <meta name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no">
</head>


<body>
	   <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style="height:7vh; color; display: flex;">	
			<a class="navbar-brand" href="https://www.credenz.info/" target="_self">
                    <img src="download.jfif" style="width: 6vh; height: 6vh;"><i style="margin-left: 10px;">Credenz'18</i> </a>
        <ul class="nav navbar-nav d-flex justify-content-end" style="width:100%;">

                <a class="nav-link my-2" href="{% url 'basic_app:leader' %}" target="_self">
            <button class="btn btn-link" type="button" style="color:cyan;"><i>Leaderboard</i></button>
        </a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link my-2" href="{% url 'basic_app:question_panel' %}" target="_self">
            <button class="btn btn-link" type="button" style="color:cyan;"><i>Question Hub</i></button>
        </a>
            </li>
            <li class="nav-item ml-4 my-2">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'user_logout' %}" target="_self">
                            <button class="btn btn-primary" type="button"style="margin-right:10px; margin-left: 20px; border-radius: 20px; height: 5vh; margin-top: 2px; width: 150px;"><i>Logout</i></button>
                        </a>
                {% else %}
                <a class="nav-link" href="{% url 'basic_app:user_login' %}" target="_self">
                            <button class="btn btn-primary" type="button"style="margin-right:10px; margin-left: 20px; border-radius: 20px; height: 5vh; margin-top: 2px; width: 150px;"><i>Login</i></button>
                        </a>
                {% endif %}

            </li>
            <li class="nav-item ml-4 my-3">
                <img src="PISB.png" style="height: 6vh;">
            </li>
        </ul>



	</nav>
	<section class="container-fluid" style="height:87vh;border:solid 1px tomato;margin-top:7vh;">
		<div class="row">
			<section class="col-lg-5" style="height: 87vh;border:solid 1px black;">
				<div class="row">
					<section class="col-lg-9" style="height: 6vh;border:solid 1px violet; border-radius: 20px;margin-left: 60px; margin-top: 2vh; display: flex; justify-content: center; padding-top: 7px;">Username: {{ user.username }}</section>
				</div>

					<section class=" col-lg-12" style="height: 67vh;border:solid 1px black;border-radius: 10px; margin-top: 1vh;">
                        <section class=" col-lg-12" style="height: 6vh;border:solid 1px black; border-radius: 20px; text-align: center; margin-top: 1vh; padding-top: 7px;">Question</section>
					<textarea class="col-lg-12 mt-1" style="border:1px solid black;height:55vh;resize:none;" readonly >{{ q }}</textarea>
                    </section>
                <form method="post">

					<section class="col-lg-7" style="height: 7vh;border:solid 1px black;border-radius: 20px; margin-top: 2vh; margin-left:15vh;">
						<div class="row">
							<div class="radio">
								
								<label style=" font-size: x-large; padding-top: 7px; margin-left: 13vh; "><b>C</b>
									<input type="radio" checked name="lang" value="c" style="transform:scale(1.5);">
								</label>
								
								<label style="font-size: x-large; padding-top: 7px; margin-left: 60px;"><b>C++</b>
									<input type="radio" name="lang" value="cpp" style="transform:scale(1.5);">
								</label>	
							</div>
						</div>
						

					</section>
					
					
					
			</section>


			<section class="col-lg-5" style="height:87vh;border:solid 1px green;">

				<section class=" col-lg-12" style="height: 69vh; ">
					<div class="row">

					<section class=" col-lg-12 text-area" style="height: 45px;border:solid 1px black; border-radius:20px;text-align: center; padding-top: 7px;margin-top: 2vh;"> Code editor</section>
					

					</div>
                    	<textarea name="text" class="col-lg-12" style="height: 67vh;border:solid 1px black;border-radius: 20px; margin-top:1vh;">{{ load}} </textarea>
				</section>
					<div class="row" style="display: flex; justify-content: space-around;">
					<input class="btn btn-primary" name="submit" style="height: 6vh; width: 40%;margin-top: 9vh;color: antiquewhite;" type="submit"> Submit</inputbutton>
                        <input class="btn btn-primary" name="load" style="height: 6vh;margin-top: 9vh; width: 40%; display: flex; justify-content: center; " type="submit" value="Load buffer"></inputbutton>
                        {% csrf_token %}   </form>

					</div>


				</section>

				<section class="col-lg-2" style="height:87vh;border:solid 1px green;">
					<section class="col-lg-12" style="height: 40vh; border:solid 1px black; border-radius: 20px; margin-top: 2vh;">
						<center>
						<label style="padding: 50px;"><b style="font-size: large;">SCORE</b></label>
                            <h2> {{ s }}</h2>
						</center>
						
					</section>
					<section class="col-lg-12" style="height: 40vh; border:solid 1px black; border-radius: 20px; margin-top: 3vh;">
						<center>
						<label style="padding: 50px;"><b style="font-size: large;">RANK</b></label>
						</center>
					</section>

				</section>




				</div>

					



				<nav class="navbar nav-expand-lg bg-dark navbar-dark fixed-bottom" style="height: 7vh;display: flex; justify-content:center;">
        			<i style="color:azure; font-size: medium;"> © PICT IEEE STUDENT BRANCH </i>
   				</nav>
				</div>
			</section>
			
			
		</div>




</body>
</html>