<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <title>CLASH CODING PAGE</title>
    <meta charset="utf-8">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
.clock {
position: relative !important;
padding-top: -200px;
top: -1.5vh;
height:7vh;
width: 60vw;

transform: scale(.6);
/*-webkit-transform: scale(.54); / Safari and Chrome /
-o-transform: scale(.54); / Opera */
-moz-transform: scale(.55);
}
.timer {
position: relative;
}
</style>
    <script src="{% static "cdn/a.js" %}"></script>
    <script src="{% static "cdn/b.js" %}"></script>
    <script src="{% static "cdn/c.js" %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no">
<link rel="stylesheet" href="{% static "FlipClock-master/compiled/flipclock.css" %}">
    <script >
    function test() {

        var editor = ace.edit("editor");

        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");

var textarea = $('textarea[name="editor"]');
editor.getSession().on("change", function () {
    textarea.val(editor.getSession().getValue());

});
   {% autoescape off %}

    var a="{{ sub|escapejs }}"
    var b="{{load|escapejs}}"
    {% endautoescape %}

console.log()

  editor.getSession().setValue(a);
  if(b){
  editor.getSession().setValue(b);}
}



</script>

<script src="{% static "FlipClock-master/compiled/flipclock.min.js" %}"></script>

</head>
<body style="background-image:url({% static "Images/p.jpg" %});background-size:cover;background-repeat: no-repeat;" onload="test()">
<form method="post">
<nav class="navbar navbar-expand-lg  navbar-dark  fixed-top " style="height:7vh; background-color:rgba(0,0,0,0.6);">
            <img src="{% static "Images/clash.png" %}" style="height: 7vh;width:9vh;"><B class="ml-3" style="color: white;font-size: 155%">CODING</B><B  class="ml-2"style="color: white;font-size:155%">PAGE</B>
        <ul class="nav navbar-nav d-flex justify-content-end" style="width:100%;">
<div class="mt-2 mr-1 clock" style="width:39vh;height:6.5vh;margin:auto;"></div>                        <div class="col-lg-1"></div>
<li class="nav-item ml-4">
  <a class="nav-link my-2" href="{% url 'basic_app:sub' %}" target="_self" style="align-self:center;">
    <button class="btn" type="button" style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);background-color: teal">Submission</button>
  </a>
</li>
            <li class="nav-item ml-4">
                <a class="nav-link my-2" href="{% url 'basic_app:leader' %}" target="_self" style="align-self:center;">
<button class="btn" type="button" style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);background-color: teal">Leaderboard</button>
                </a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link my-2" href="{% url 'basic_app:question_panel' %}" target="_self" style="align-self:center;">
<button class="btn" type="button" style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);background-color: teal">Question Hub</button>
                </a>            </li>

            <li class="nav-item ml-4 my-3">
                <button class="btn btn-danger" type="button"  style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2)" data-toggle="modal"
                    data-target="#mymodal">Logout</button>
            </li>
            <li class="nav-item ml-4 mt-3">
                <img src="{% static "Images/pisb1.png" %}" style="height:5vh;width:10vh">
            </li>
        </ul>
    </nav>
    <section class="container-fluid" style="height:86vh;border:solid 1px black;margin-top:7vh;padding-left: 6vh;padding-right: 6vh">
        <div class="row mt-2">
            <div class="col-lg-12" style="height:7vh;">
                <div class="row">
                <div class="col-lg-4"></div>
                <font class="mt-3 ml-3"style="font-weight:100;font-size: 1.6rem;">SCORE</font>
                
                <div class="l"style="border: 1px solid black;width:15vh;height:7vh;border-radius: 4px;background-color: rgba(0,0,0,0.6);color: white;display: flex;justify-content: center;align-items: center;font-size: 1.5rem;font-family: 'Times New Roman', Times, serif;margin-left:29px;">
                    {{s}}
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="height:79vh">
                <div class="row">
                <div class="col-lg-5 mt-3" style="display: flex;align-items: flex-end;">
                    <div class="row">
<ul class="nav nav-pills">
    <li role="presentation" class="active ques">&nbsp &nbspQUESTION</li>
</ul>
                        </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 mt-3">
                    <div class="row">
<ul class="nav nav-pills">
<li role="presentation" class="active ques">&nbsp &nbsp &nbsp &nbspEDITOR</li>
</ul>
                    </div>
                    </div>
                </div>
                <section class="row">
                    <div class="col-lg-12" style="border:none;height:58vh;">
                        <div class="row">
<textarea class="col-lg-5 textarea" id="ques"style="border:1px solid rgb(41, 39, 39);height: 58vh;resize:none;display:flex;justify-content:center; background-color:rgba(0,0,0,0.8);color: white;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;"
    disabled>
      {{ q }} {{question}}

                            </textarea>
                            <section class="col-lg-1"></section>
<div class="col-lg-6" style="border:1px solid rgb(41, 39, 39);height: 58vh;resize:none;color:white;background-color:rgba(0,0,0,0.6);border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;">
<div id="editor" style=" background-color:rgba(0,0,0,0.4);border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;"></div>
<div>
  <textarea name="editor" id='editortext' style="display: none;">
  {{sub}}
   {{load}}
  </textarea>
  </div>
</div>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row mt-2" style="display: flex;align-items: center">
<button class="btn b my-4" type="button" onclick="check()" style="width:20vh;background-color:rgba(255,255,255,0.4);">LOAD BUFFER</button>
<div class="custom-file mt-1 col-lg-7 ml-3">
<input type="file" class="custom-file-input" id="customFile" name="filename">
    <label class="custom-file-label" for="customFile"  style=" background-color:rgba(0,0,0,0.6);">Choose file</label>
</div>
</div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div class="row mt-2" style="display: flex;align-items: center">
                            <div class="my-2 ml-5 p" style="border: 1px solid black;height: 9vh; display:flex; align-items:center;justify-content:center;border-radius: 4px;width: 5vh">
                                <input type="radio" name="lang" value="c"  style="transform:scale(1.5)">
                            </div>
<div class="my-2 i" style="border:1px solid black;display:flex; align-items: center;justify-content: center;border-radius: 4px;height: 9vh;width: 12vh;">
<font style="font-size: 1.9rem;font-weight:100;">C</font>
</div>
                            <div class="ml-2 my-2 p" style="border: 1px solid black;height: 9vh; display:flex; align-items:center;justify-content:center;border-radius: 4px;width: 5vh">
                                <input type="radio" name="lang" checked value="cpp" style="transform:scale(1.5)">
                            </div>
<div class="my-2 i"style="border:1px solid black;display:flex; align-items: center;justify-content: center;border-radius: 4px;height: 9vh;width: 12vh;">
                                <font style="font-size: 1.9rem;font-weight:100;">C++</font>
                            </div>
<button class="btn b my-1" type="submit" name="submit" style="width:20vh;background-color:rgba(255,255,255,0.4);margin-left: 160px;">SUBMIT</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="mymodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">LOGOUT?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Do you want to submit?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                         <a href="{% url 'user_logout' %}">
                        <button type="button" class="btn btn-danger" >Logout</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<nav class="navbar navbar-expand-lg navbar-dark" style="height:7vh;display: flex;justify-content: center;align-items:center; background-color:rgba(0,0,0,0.6);">
        <b style="color:white;font-weight: bold">© PICT IEEE STUDENT BRANCH</b>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" setmode="" charset="utf-8"></script>
    <script>
        var clock;

		$(document).ready(function() {

			clock = $('.clock').FlipClock({{t}}, {
		        clockFace: 'HourlyCounter',
		        countdown: true,
		        callbacks: {
		        	stop: function() {
		        		 window.location.href= "{% url 'user_logout' %}";
		        	}
		        }
		    });
		});



		function check() {
console.log("Loadbuffer")
   $.ajax({
        url : '{% url 'basic_app:loadbuff' %}',
        data : {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()},
        method: "POST",
        dataType : "json",
        success : function (data) {
         var editor = ace.edit("editor");

        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
            console.log(data["text"]);
			var text=data["text"];
           editor.session.setValue(text);

        }
    });
}

    </script>
    {% csrf_token %}


    </form>
</body>

</html>
