<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=shrink, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" >
    <link rel="stylesheet" href="{% static "tablestyle.css" %}">
    <link rel="stylesheet" href="{%  static "newstyle.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>LEADERBOARD
    </title>
  </head>
  <body style="background-image: url('{% static "blacky.jpg"%}')";background-size: cover;background-blend-mode: inherit;">
    <nav class="navbar navbar-expand-lg navig ">
      <a class="navbar-brand" href="#!">
          <img src="{% static "revb.png"%}" alt="IMAGE HERE" href="#!" style="height:9vh;width:100px;">
      </a>

      <ul class="navbar-nav d-flex justify-content-end" style="width: 100%;">
          <li>
              <div class="row">
                  <div class="my-3 timer1 mr-5" style="border: none; padding-top: 20px;">LEADERBOARD</div>
                  <div class="mr-5"></div>
                  <div class="mr-5"></div>
                  <div class="mr-5"></div>
                  
                  

                      <div class=" timer mr-5">
                          
                    
                      </div>
                      <div class="mr-5"></div>
                      

              </div>              
          </li>
          <li class="nav-item ml-4">
              <a class="nav-link my-4" href="{% url 'basic_app:question_panel' %}">
                  <button class="btn button"type="button"style="height:5vh;margin-top:0.11vh;width:10vw;">
                      QUESTION HUB
                  </button>
              </a>
          </li>
      </ul>
      <button class="btn-danger btn ml-4 mr-3 " type="button" data-toggle="modal" data-target="#myModal" style="width:10vw; font-weight:bold;height:5vh;margin-bottom: 1vh;">
          LOG OUT
      </button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">LOG OUT</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <p style="font-family:Arial, Helvetica, sans-serif">DO YOU WANT TO LOG OUT?</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" >LOG OUT</button>
                  </div>
              </div>
          </div>
      </div>
      <a class="navbar-brand ml-3" href="#!">
          <img src="pisb_color.png" alt="IMAGE HERE" href="#!" style="height:5vh;width:100px;">
      </a>
  </nav>
    
    <div class="container-fluid" style="height: 86vh;" >
    <div class="up2">
      <table class=" col-lg-9 table">
        <thead>
          <tr class="r3" style="  margin-left: .4vw; width: 75vw;">
            <th class="col-lg-1">RANK</th>
            <th class="col-lg-3" style="width: 21vw;">USERNAME</th>
            <th class="col-lg-1 que1" style="margin-left: 2vw;">Q1</th>
            <th class="col-lg-1 que1">Q2</th>
            <th class="col-lg-1 que1">Q3</th>
            <th class="col-lg-1 que1">Q4</th>
            <th class="col-lg-1 que1">Q5</th>
            <th class="col-lg-1 que1">Q6</th>
            <th class="col-lg-3">TOTAL</th>
          </tr>
        </thead></table>
        </div>
        <div class="back up"><table class=" col-lg-9 table table-striped-dark second" style="width: 84vw;">
        <tbody>
        {% for userprofile in list %}
            <tr class="r1">
                {% if  not forloop.counter|divisibleby:2 %}


                <td class="col-lg-1" style="margin-left: 0vw;">{{ forloop.counter }}</td>

                 <td class="col-lg-3" >{{ userprofile.user }}</td>


     
                 <td class="col-lg-1 que">
                     {{ userprofile.quest1test }}%
                     </td>
                   <td class="col-lg-1 que">
                       {{ userprofile.quest2test }}%
                     </td>
                    <td class="col-lg-1 que">
                        {{ userprofile.quest3test }}%
                        </td>
                      <td    class="col-lg-1 que"> 
                          {{ userprofile.quest4test }}%
                         </td>
                        <td    class="col-lg-1 que">
                            {{ userprofile.quest5test }}%
                            </td>
                          <td    class="col-lg-1 que">
                              0%
                              </div>
                            </div></td>
                          <td class="col-lg-3"> <div class="progress" style="color: #000;position: relative;">
                                <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:{{ userprofile.total}}%">
                                </div>
                                <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                                    {{ userprofile.total }}%</div>
                         </div></td>
               
               </tr>
                    {% else %}


               <tr class="r2">

                  <td class="col-lg-1" style="margin-left: 0vw;">{{ forloop.counter }}</td>
                   <td class="col-lg-3" style="text-align:center-left;">{{ userprofile.user }}</td>


                   <td class="col-lg-1 que">
                       {{ userprofile.quest1test}}%
                       </td>
                     <td class="col-lg-1 que">
                         {{ userprofile.quest2test }}%
                       </td>
                      <td class="col-lg-1 que">
                          {{ userprofile.quest3test }}%
                          </td>
                        <td    class="col-lg-1 que"> 
                            {{ userprofile.quest4test }}%
                           </td>
                          <td    class="col-lg-1 que">
                              {{ userprofile.quest5test }}%
                              </td>
                            <td    class="col-lg-1 que">
                                0%
                                </div>
                              </div></td>
                            <td    class="col-lg-3">  <div class="progress" style="color: #000;position: relative;">
                                <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:{{ userprofile.total }}%">
                                </div>
                                <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                                    {{ userprofile.total }}%</div>
                         </div></td>
                 
                 </tr>
                       {% endif %}
                     {% endfor %}

               <!--  <tr class="r1">
                    <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                     <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
         
                     <td class="col-lg-1 que">
                           40%
                         </td>
                       <td class="col-lg-1 que">
                            60%
                         </td>
                        <td class="col-lg-1 que">
                              80%
                            </td>
                          <td    class="col-lg-1 que"> 
                                20%
                             </td>
                            <td    class="col-lg-1 que">
                                  60%
                                </td>
                              <td    class="col-lg-1 que">
                                    0%
                                  </div>
                                </div></td>
                              <td class="col-lg-3"> <div class="progress" style="color: #000;position: relative;">
                                    <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                    </div>
                                    <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                    25%</div>
                             </div></td>
                   
                   </tr>
                   <tr class="r2">
                      <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                       <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
           
                       <td class="col-lg-1 que">
                             70%
                           </td>
                         <td class="col-lg-1 que">
                              70%
                           </td>
                          <td class="col-lg-1 que">
                                70%
                              </td>
                            <td    class="col-lg-1 que"> 
                                  70%
                               </td>
                              <td    class="col-lg-1 que">
                                    70%
                                  </td>
                                <td    class="col-lg-1 que">
                                      70%
                                    </div>
                                  </div></td>
                                <td    class="col-lg-3">  <div class="progress" style="color: #000;position: relative;">
                                    <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                    </div>
                                    <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                    25%</div>
                             </div></td>
                     
                     </tr>
                     <tr class="r1">
                        <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                         <td class="col-lg-3" style="text-align:center-left;"></td>
             
                         <td class="col-lg-1 que">
                               40%
                             </td>
                           <td class="col-lg-1 que">
                                60%
                             </td>
                            <td class="col-lg-1 que">
                                  80%
                                </td>
                              <td    class="col-lg-1 que"> 
                                    20%
                                 </td>
                                <td    class="col-lg-1 que">
                                      60%
                                    </td>
                                  <td    class="col-lg-1 que">
                                        0%
                                      </div>
                                    </div></td>
                                  <td class="col-lg-3"> <div class="progress" style="color: #000;position: relative;">
                                        <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                        </div>
                                        <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                        25%</div>
                                 </div></td>
                       
                       </tr>

                       <tr class="r2">
                          <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                           <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
               
                           <td class="col-lg-1 que">
                                 70%
                               </td>
                             <td class="col-lg-1 que">
                                  70%
                               </td>
                              <td class="col-lg-1 que">
                                    70%
                                  </td>
                                <td    class="col-lg-1 que"> 
                                      70%
                                   </td>
                                  <td    class="col-lg-1 que">
                                        70%
                                      </td>
                                    <td    class="col-lg-1 que">
                                          70%
                                        </div>
                                      </div></td>
                                    <td    class="col-lg-3">  <div class="progress" style="color: #000;position: relative;">
                                        <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                        </div>
                                        <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                        25%</div>
                                 </div></td>
                         
                         </tr> 
                         <tr class="r1">
                            <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                             <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
                 
                             <td class="col-lg-1 que">
                                   40%
                                 </td>
                               <td class="col-lg-1 que">
                                    60%
                                 </td>
                                <td class="col-lg-1 que">
                                      80%
                                    </td>
                                  <td    class="col-lg-1 que"> 
                                        20%
                                     </td>
                                    <td    class="col-lg-1 que">
                                          60%
                                        </td>
                                      <td    class="col-lg-1 que">
                                            0%
                                          </div>
                                        </div></td>
                                      <td class="col-lg-3"> <div class="progress" style="color: #000;position: relative;">
                                            <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                            </div>
                                            <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                            25%</div>
                                     </div></td>
                           
                           </tr>
                           <tr class="r2">
                              <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                               <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
                   
                               <td class="col-lg-1 que">
                                     70%
                                   </td>
                                 <td class="col-lg-1 que">
                                      70%
                                   </td>
                                  <td class="col-lg-1 que">
                                        70%
                                      </td>
                                    <td    class="col-lg-1 que"> 
                                          70%
                                       </td>
                                      <td    class="col-lg-1 que">
                                            70%
                                          </td>
                                        <td    class="col-lg-1 que">
                                              70%
                                            </div>
                                          </div></td>
                                        <td    class="col-lg-3">  <div class="progress" style="color: #000;position: relative;">
                                            <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                            </div>
                                            <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                            25%</div>
                                     </div></td>
                             
                             </tr> 
                             <tr class="r1">
                                <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                                 <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
                     
                                 <td class="col-lg-1 que">
                                       40%
                                     </td>
                                   <td class="col-lg-1 que">
                                        60%
                                     </td>
                                    <td class="col-lg-1 que">
                                          80%
                                        </td>
                                      <td    class="col-lg-1 que"> 
                                            20%
                                         </td>
                                        <td    class="col-lg-1 que">
                                              60%
                                            </td>
                                          <td    class="col-lg-1 que">
                                                0%
                                              </div>
                                            </div></td>
                                          <td class="col-lg-3"> <div class="progress" style="color: #000;position: relative;">
                                                <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                                </div>
                                                <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                                25%</div>
                                         </div></td>
                               
                               </tr>
                               <tr class="r2">
                                  <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                                   <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
                       
                                   <td class="col-lg-1 que">
                                         70%
                                       </td>
                                     <td class="col-lg-1 que">
                                          70%
                                       </td>
                                      <td class="col-lg-1 que">
                                            70%
                                          </td>
                                        <td    class="col-lg-1 que"> 
                                              70%
                                           </td>
                                          <td    class="col-lg-1 que">
                                                70%
                                              </td>
                                            <td    class="col-lg-1 que">
                                                  70%
                                                </div>
                                              </div></td>
                                            <td    class="col-lg-3">  <div class="progress" style="color: #000;position: relative;">
                                                <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                                </div>
                                                <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                                25%</div>
                                         </div></td>
                                 
                                 </tr> 
                                 <tr class="r1">
                                    <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                                     <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
                         
                                     <td class="col-lg-1 que">
                                           40%
                                         </td>
                                       <td class="col-lg-1 que">
                                            60%
                                         </td>
                                        <td class="col-lg-1 que">
                                              80%
                                            </td>
                                          <td    class="col-lg-1 que"> 
                                                20%
                                             </td>
                                            <td    class="col-lg-1 que">
                                                  60%
                                                </td>
                                              <td    class="col-lg-1 que">
                                                    0%
                                                  </div>
                                                </div></td>
                                              <td class="col-lg-3"> <div class="progress" style="color: #000;position: relative;">
                                                    <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                                    </div>
                                                    <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                                    25%</div>
                                             </div></td>
                                   
                                   </tr>
                                   <tr class="r2">
                                      <td class="col-lg-1" style="margin-left: 0vw;">1</td>
                                       <td class="col-lg-3" style="text-align:center-left;">credenz 2018</td>
                           
                                       <td class="col-lg-1 que">
                                             70%
                                           </td>
                                         <td class="col-lg-1 que">
                                              70%
                                           </td>
                                          <td class="col-lg-1 que">
                                                70%
                                              </td>
                                            <td    class="col-lg-1 que"> 
                                                  70%
                                               </td>
                                              <td    class="col-lg-1 que">
                                                    70%
                                                  </td>
                                                <td    class="col-lg-1 que">
                                                      70%
                                                    </div>
                                                  </div></td>
                                                <td    class="col-lg-3">  <div class="progress" style="color: #000;position: relative;">
                                                    <div class="progress-bar" role="progressbar"aria-valuenow="100" aria-valuemin="0" aria-valuemax="1000" style="width:25%">
                                                    </div>
                                                    <div class="pt-1"  style="align-items:center;width:100%;height:100%;position: absolute;text-align: center;">
                                    25%</div>
                                             </div></td>
                                     
                                     </tr>
                                     -->
                                                                        
        </tbody>
      </table>

    </div>
    </div>
    <nav class="navbar navbar-expand-lg navig " style="display:flex; justify-content: center;">
        <div class="col-lg-4" style="color:white;display:flex; justify-content: center;font-size: 3vh;">
            &copy; PICT IEEE STUDENT BRANCH
        </div>
    </nav>  
    </body>
    </html>
