<!DOCTYPE html>
<html>
<head>
	<title>Question page</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no">
</head>
<body>
	<section class="container-fluid"  style="height:87vh;border:solid 2px tomato;margin-top:7vh;">
		<div style="display: flex; justify-content: center;">
			<ol>
			<li style="font-size: large;"><a href="{% url 'basic_app:questions' id=1%}" target="_self" > Question1: </a>
			<li style="font-size: large;"><a href="{% url 'basic_app:questions' id=2%}" target="_self" > Question2: </a>
			<li style="font-size: large;"><a href="{% url 'basic_app:questions' id=3 %}" target="_self" > Question3: </a>
			<li style="font-size: large;"><a href="{% url 'basic_app:questions' id=4%}" target="_self" > Question4: </a>
			<li style="font-size: large;"><a href="{% url 'basic_app:questions' id=5 %}" target="_self" > Question5: </a>
			</ol>
		</div>

	</section>

</body>
</html>