<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-,initial scale=1"></meta>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style4.css" %}" >
<link rel="stylesheet" href="{% static "FlipClock-master/compiled/flipclock.css" %}">
<script src="{% static "cdn/a.js" %}"></script>
<script src="{% static "cdn/b.js" %}"></script>
<script src="{% static "cdn/c.js" %}"></script>
<script src="{% static "FlipClock-master/compiled/flipclock.min.js" %}"></script>
    <title> 
        CLASH TEST CASE</title>
</head>
<body style="background-image:url({% static "Images/p.jpg" %});background-size: cover">
<nav class="navbar navbar-expand-lg  navbar-dark  fixed-top " style="height:7vh; background-color:rgba(0,0,0,0.6);">
            <img src="{% static "Images/clash.png" %}" style="height: 7vh;width:9vh;"><B class="ml-3" style="color: white;font-size: 155%">CODING</B><B  class="ml-2"style="color: white;font-size:155%">PAGE</B>
        <ul class="nav navbar-nav d-flex justify-content-end" style="width:100%;">
<div class="mt-2 mr-1 clock" style="width:39vh;height:6.5vh;margin:auto;"></div>                        <div class="col-lg-1"></div>
<li class="nav-item ml-4">
  <a class="nav-link my-2" href="{% url 'sub' %}" target="_self" style="align-self:center;">
    <button class="btn" type="button" style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);background-color: teal">Submission</button>
  </a>
</li>
            <li class="nav-item ml-4">
                <a class="nav-link my-2" href="{% url 'leader' %}" target="_self" style="align-self:center;">
<button class="btn" type="button" style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);background-color: teal">Leaderboard</button>
                </a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link my-2" href="{% url 'question_panel' %}" target="_self" style="align-self:center;">
<button class="btn" type="button" style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);background-color: teal">Question Hub</button>
                </a>            </li>

            <li class="nav-item ml-4 my-3">
                <button class="btn btn-danger" type="button"  style="color:white;box-shadow: 0 8px 16px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2)" data-toggle="modal"
                    data-target="#mymodal">Logout</button>
            </li>
            <li class="nav-item ml-4 mt-3">
                <img src="{% static "Images/pisb1.png" %}" style="height:5vh;width:10vh">
            </li>
        </ul>
    </nav>
<div class="container-fluid" style="height: 86vh;margin-top: 7vh">

    <div class="row">
    <div class="col-lg-1"></div> 
     <div class="col-lg-2">
         
                          <div><p class="testcase"><font>TEST CASE 1:</font></p></div>
                          <div><p class="testcase2"><font>TEST CASE 2:</font></p></div>
                          <div><p class="testcase2"><font>TEST CASE 3:</font></p></div>
                          <div><p class="testcase2"><font>TEST CASE 4:</font></p></div>
                          <div><p class="testcase2"><font>TEST CASE 5:</font></p></div>
                          <div><p class="scorefont"><font>SCORE</font></p></div>
                          <div><p class="score">{{s}}<b></b></p></div>
                         </div>
     <div class="col-lg-2">
                    <div class="retry">
                     <a href="{% url 'questions' id=d %}">
            <button class="btn n" style="width:20vh;background-color: rgba(255,255,255,0.4);" type="button">RETRY</button>
            </a>
                          </div>
                          </div>
                          <div class="col-lg-2">
                            <p class="false">{{t1}}</p>
                            <p class="false" >{{t2}}</p>
                            <p class="false">{{t3}}</p>
                            <p class="false">{{t4}}</p>
                            <p class="false">{{t5}}</p>
                            <div><p class="statusfont"><font>STATUS</font></p></div>
                            <p class="status">{{status}}<b></b></p>
                      </div>
                      <div class="col-lg-1"></div>
                      <div class="col-lg-3 console ml-5">
                          <font>CONSOLE</font>
                          <div class="row">
                              <div class="col-lg-12 true2">{{e}}</div>
                          </div>
                      </div>
                    </div>
                    </div>
<nav class="navbar navbar-expand-lg navbar-dark" style="height:7vh;display: flex;justify-content: center;align-items:center;
background-color:rgba(0,0,0,0.6);">
    <b style="color:white;font-weight: bold">©  IEEE COMPUTER SOCIETY</b>
</nav>
<script>
     var clock;

		$(document).ready(function() {

			clock = $('.clock').FlipClock({{t}}, {
		        clockFace: 'HourlyCounter',
		        countdown: true,
		        callbacks: {
		        	stop: function() {
		        		 window.location.href= "{% url 'user_logout' %}";
		        	}
		        }
		    });
		});
</script>

<div class="modal fade" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">LOGOUT?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Do you want to submit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <a href="{% url 'user_logout' %}">
                    <button type="button" class="btn btn-danger" >Logout</button></a>
            </div>
        </div>
    </div>
</body>
</html>