<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <title>RC LOGIN PAGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta http-equiv="refresh" content="5" >


    <script src="{% static "cdn/a.js"%}"></script>

    <script src="{% static "cdn/b.js"%}"></script>

	<script src="{% static "cdn/c.js" %}"></script>

</head>

<body style="background-image: url({% static "Images/p.jpg"%});background-size: cover;background-blend-mode:inherit;" onload="hide()">
     <form method="post">
        <nav class="navbar navbar-expand-lg navig ">
           <a class="navbar-brand">
           <img src="{% static "Images/clash.png"%}" alt="IMAGE HERE" style="height:9vh;width:100px;">
           </a>
           <div class="my-3 timer1"></div>

           <ul class="navbar-nav d-flex justify-content-end" style="width: 100%;">

           <a class="navbar-brand ml-3">
           <img src="{% static "Images/pisb1.png"%}" alt="IMAGE HERE" style="height:5vh;width:100px;">
           </a>
        </nav>
    <div class="container-fluid div" style="border:2px solid transparent;height:86vh;display:flex;justify-content:center;align-items:center;">

    <div class="col-lg-8" style="color:white;font-size:100px;">
        Event starts soon !!! Please wait !!!
    </div>

    </div>


    <nav class="navbar navbar-expand-lg navig " style="display:flex; justify-content: center;">
        <div class="col-lg-4" style="color:rgb(255, 255, 255);display:flex; justify-content: center;font-size: 3vh;">
            &copy; PICT IEEE STUDENT BRANCH
        </div>
    </nav>
</body>

</html>